
#wrapper {
    overflow: hidden;
}

#gameArea {
    overflow: hidden;
    float: left;
    height: 100%;
    width: 64%;
}

#controls {
    overflow: hidden;
    float: left;
    height: 100%;
    width: 36%;
}

#inner {
    padding-top: 100px;
    display: table;
    margin: 0 auto;
}

#inner > div {
    margin-top: 30px;
    margin-bottom: 30px;
}

#infoArea {
    width: 30%;
    height: 30px;
    margin: 0 auto;
    text-align: center;
}


.gameTable {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    height: 100%;
}

.gametableCol {
    border: 1px solid black;
    height: 20px;
}

.block {
    background-color: black;
}

.path {
    background-color: green;
}

.source {
    background-color: red;
}

.footprint {
    background-color: gray;
}

.success {
    background-color: limegreen;
}

.failure {
    background-color: orangered;
}

.info {
    background-color: yellow;
}
